main{
    padding-block: 5rem;
}

#content-main{
    width: 35rem;

    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    h2 {
        font: var(--heading-md);
        color: var(--text-heading);
    }

    fieldset{
        border: none;
    }

    legend {
        font: var(--heading-sm);
        color: var(--text-heading);
        display: flex;
        align-items: center;
        gap: .75rem;
        margin-bottom: 1.5rem;
    }

    label{
        display: inline-block;
        margin-bottom: .75rem;
        font: var(--body-sm);
        color: var(--text-body);
    }

    input:focus{
        outline: none;
    }

    input{
        background-color: var(--input-base);
        border: 1px solid var(--input-stroke);
        color: var(--input-placeholder);
        width: 100%;
        padding: .813rem 1rem;
        border-radius: .5rem;
        font: var(--body-md);
        font-weight: 100;
        margin-bottom: 1rem;

        &:hover, &:focus{
            border: 1px solid var(--brand-light);
        }
    }

    .input-wrapper-2{
        width: 17rem;
    }

    .flex{
        display: flex;
        gap: 1rem;
    }
    
    .radio-wrapper{
        display: flex;
        background-color: var(--input-base);
        border: 1px solid var(--input-stroke);
        padding: .25rem;
        border-radius: .5rem;
        height: 3rem;
        gap: .25rem;
        align-items: center;

        label, input {
            margin-bottom: 0;
        }

        input[type="radio"]{
            display: none;
        }

        .radio-opt{
            width: 100%;
            height: 100%;
            border: 1px solid white;
            display: flex;
            align-items: center;
        }
    }
}